.overflow {
  overflow-x: auto;
}

h1.text-responsive {
  text-align: center;
  font-size: 3rem;
}

h2.text-responsive {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  h1.text-responsive {
    text-align: center;
    font-size: 2rem;
  }

  h2.text-responsive {
    text-align: center;
    font-size: 1rem;
  }
}
