.overflow {
    overflow-x: auto;
}

.responsive-title {
    text-align: center;
    font-size: 50px;
}

@media (max-width: 992px) {
    .responsive-title {
        text-align: center;
        font-size: 10vw;
    }
}
