.my-btn {
    transition-duration: 0.2s;
    color: #ffffff;
    background-color: #09c62d;
    font-size: 20px;
    padding: 10px 25px;
    border: 0px;
    border-radius: 15px;
    margin: 20px;
}
.my-btn:hover {
    color: #e6dada;
    background-color: #18af34;
    margin: 18px;
    padding: 12px 27px;
    cursor: pointer;
}

.bg-light-grey {
    background-color: #bbbbbb;
}

.img-profile{
    width: 50%;
    height: auto;
    border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
    display: block;
}

.close:hover {
    color: red;
}
