@font-face {
    font-family: klavika-bold;
    src: url("./klavika-bold.woff");
}

.logo {
    background-color: #3C5B9A;
    grid-area: logo;
}
.logo>h1 {
    font-family: klavika-bold;
    float: left;
    margin: 0px;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    height: 2.5rem;
    cursor: pointer;
}

.login {
    background-color: #3C5B9A;
    grid-area: login;
}

.desc {
    background-color: #EDF0F5;
    grid-area: desc;
}

.desc>* {
    display: flex;
    align-items: center;
    text-align: left;
}
.desc>p>img {
    margin-right: 1rem
}

.signup {
    background-color: #EDF0F5;
    grid-area: signup;
}

.signup>* {
    text-align: left;
    background-color: red;
}

.footer {
    background-color: #FFFFFF;
    grid-area: footer;
}

.nothing1 {
    background-color: #dddddd;
    grid-area: nothing1;
}

.nothing2 {
    background-color: #dddddd;
    grid-area: nothing2;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'nothing1 logo login nothing2'
        'nothing1 desc signup nothing2'
        'nothing1 footer footer nothing2';
    grid-template-columns: auto 500px 400px auto;
    background-color: #2196F3;
    grid-gap: 0px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
}
/*
@media (max-width : 10rem) {
    .grid-container {
        grid-template-columns: 200px 200px;
    }

    .item0, .item5 {
        display: none;
    }
} */
